<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout}">

<main layout:fragment="content">
<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center bg-primary">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="btn bg-light border nput-group-text p-3"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->


<!-- Carousel Start -->
<div class="header-carousel owl-carousel">
    <div class="header-carousel-item bg-primary">
        <div class="carousel-caption">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-7 animated fadeInLeft">
                        <div class="text-sm-center text-md-start">
                            <h4 class="text-white text-uppercase fw-bold mb-4">Chào mừng đến với EduExplore</h4>
                            <h1 class="display-1 text-white mb-4">Cập nhật tin tức tuyển sinh</h1>
                            <p class="mb-5 fs-5">Tìm kiếm được những thông tin tuyển sinh cập nhật và nhanh chóng ...
                            </p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-light rounded-pill py-3 px-4 px-md-5 me-2" href="#"><i class="fas fa-play-circle me-2"></i> Xem video</a>
                                <a class="btn btn-dark rounded-pill py-3 px-4 px-md-5 ms-2" href="#">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 animated fadeInRight">
                        <div class="calrousel-img" style="object-fit: cover;">
                            <img src="/user/img/explore.png" class="img-fluid w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-carousel-item bg-primary">
        <div class="carousel-caption">
            <div class="container">
                <div class="row gy-4 gy-lg-0 gx-0 gx-lg-5 align-items-center">
                    <div class="col-lg-5 animated fadeInLeft">
                        <div class="calrousel-img">
                            <img src="/user/img/video.png" class="img-fluid w-100" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7 animated fadeInRight">
                        <div class="text-sm-center text-md-end">
                            <h4 class="text-white text-uppercase fw-bold mb-4">Chào mừng đên với EduExplore</h4>
                            <h1 class="display-1 text-white mb-4">Trải nghiệm học thử chuyên ngành</h1>
                            <p class="mb-5 fs-5">Bạn có thể trải nghiệm các ngành học bằng các khóa học trong Website...
                            </p>
                            <div class="d-flex justify-content-center justify-content-md-end flex-shrink-0 mb-4">
                                <a class="btn btn-light rounded-pill py-3 px-4 px-md-5 me-2" href="#"><i class="fas fa-play-circle me-2"></i> Xem video</a>
                                <a class="btn btn-dark rounded-pill py-3 px-4 px-md-5 ms-2" href="#">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- Feature Start -->
<div class="container-fluid feature bg-light py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Nhóm ngành</h4>
            <h1 class="display-4 mb-4">Các nhóm ngành đại học</h1>
            <p class="mb-0">Ngành đào tạo (hay Ngành học) sẽ cung cấp cho người học những kiến thức, kỹ năng chuyên môn về một lĩnh vực nghề nghiệp nhất định. Theo quy định của Bộ Giáo dục và Đào tạo, mỗi ngành được quy định một mã tuyển sinh chung trong xét tuyển Đại học, Cao đẳng.
            </p>
        </div>
        <div class="row g-4">
            <!-- Lặp qua danh sách Major -->
            <th:block th:each="major : ${majors}">
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="feature-item p-4 pt-0 h-100 d-flex flex-column">
                        <div class="feature-icon p-4 mb-4">
                            <i class="fab fa-artstation"></i> <!-- Có thể thay icon theo dữ liệu -->
                        </div>
                        <h4 class="mb-3 text-center" th:text="${major.majorGroupName}">Tên Ngành</h4>

                        <!-- Giới hạn chiều cao mô tả để hiển thị tối đa 8 dòng -->
                        <p class="mb-4 flex-grow-1 overflow-hidden text-wrap"
                           style="max-height: 12em; line-height: 1.5em;"
                           th:text="${major.description}">
                            Mô tả ngành...
                        </p>

                        <div>
                            <a class="btn btn-primary rounded-pill py-2 px-4 w-100"
                               th:href="@{'/major/' + ${major.id}}">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>



    </div>
    <div class="nav-btn px-3">
        <center><a href="#" class="btn btn-primary rounded-pill py-2 px-4 ms-3 flex-shrink-0"> Xem tất cả</a></center>
    </div>
</div>
<!-- Feature End -->

<!-- About Start -->
<!-- About End -->

<!-- Service Start -->
<!-- Service End -->

<!-- FAQs Start -->
<!-- FAQs End -->

<!-- Blog Start -->
<div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Tuyển sinh</h4>
            <h1 class="display-4 mb-4">Thông tin tuyển sinh</h1>
            <p class="mb-0">Tổng hợp các bài đăng về các thông tin tuyển sinh mới nhất của BGD hoặc các trường đại học
            </p>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="row g-4">
                <!-- Lặp qua danh sách bài đăng -->
                <th:block th:each="post : ${posts}">
                    <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-item h-100 d-flex flex-column">
                            <div class="blog-img">
                                <img th:src="@{/uploads/{image}(image=${post.image})}" class="img-fluid rounded-top w-100" alt="Bài đăng">
                                <div class="blog-categiry py-2 px-4">
                                    <img src="https://daotao.vku.udn.vn/public/images/new.gif">
                                </div>
                            </div>
                            <div class="blog-content p-4 flex-grow-1">
                                <div class="blog-comment d-flex justify-content-between mb-3">
                                    <div class="small"><span class="fa fa-user text-primary"></span> VKU</div>
                                    <div class="small">
                                        <span class="fa fa-calendar text-primary"></span>
<!--                                        <span th:text="${post.createdAt}"></span> &lt;!&ndash; Hiển thị ngày trực tiếp &ndash;&gt;-->
                                    </div>
                                    <div class="small"><span class="fa fa-comment-alt text-primary"></span> 6 Bình luận</div>
                                </div>

                                <a th:href="@{'/post/' + ${post.id}}" class="h4 d-inline-block mb-3" th:text="${post.title}">Tiêu đề bài đăng</a>

                                <!-- Giới hạn mô tả hiển thị tối đa 8 dòng -->
                                <p class="mb-3 overflow-hidden text-wrap"
                                   style="max-height: 12em; line-height: 1.5em;"
                                   th:text="${post.description}">
                                    Nội dung bài đăng...
                                </p>

                                <a th:href="@{'/post/' + ${post.id}}" class="btn p-0">Xem chi tiết <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>

    </div>
    <div class="nav-btn px-3">
        <center><a href="#" class="btn btn-primary rounded-pill py-2 px-4 ms-3 flex-shrink-0"> Xem tất cả</a></center>
    </div>
</div>
<!-- Blog End -->

<!-- Team Start -->
<div class="container-fluid team pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Trường đại học & cao đẳng</h4>
            <h1 class="display-4 mb-4">Danh sách trường đại học & cao đẳng</h1>
            <p class="mb-0">Tổng hợp tất cả các trường đại học & cao đẳng tại Đà Nẵng.
            </p>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://inkythuatso.com/uploads/images/2021/12/logo-dai-hoc-su-pham-da-nang-inkythuatso-15-11-23-55.jpg" class="img-fluid rounded-top w-100" alt="">
                        <div class="team-icon">
                            <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-pill mb-0" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-title p-4">
                        <h4 class="mb-0">Trường đại học sư phạm Đà Nẵng</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://upes3.edu.vn/wp-content/uploads/2021/09/Logo-truong-Dai-hoc-Su-pham-Ky-thuat-Da-Nang.jpg" class="img-fluid rounded-top w-100" alt="">
                        <div class="team-icon">
                            <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-pill mb-0" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-title p-4">
                        <h4 class="mb-0">Trường đại học SPKT Đà Nẵng</h4>
                        <!--            <p class="mb-0">Profession</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://haitrieu.com/wp-content/uploads/2022/03/Logo-DH-Kinh-te-Dai-hoc-Da-Nang-DUE.png" class="img-fluid rounded-top w-100" alt="">
                        <div class="team-icon">
                            <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-pill mb-0" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-title p-4">
                        <h4 class="mb-0">Trường đại học kinh tế Đà Nẵng</h4>
                        <!--            <p class="mb-0">Profession</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://th.bing.com/th/id/OIP.tSuiTEft0aed1S2YV58HfAHaHa?rs=1&pid=ImgDetMain" class="img-fluid rounded-top w-100" alt="">
                        <div class="team-icon">
                            <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-pill mb-0" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-title p-4">
                        <h4 class="mb-0">Đại học Đông Á  </h4>
                        <!--            <p class="mb-0">Profession</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->

<!-- Testimonial Start -->
<div class="container-fluid testimonial pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Cao đẳng</h4>

            </p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.2s">
            <div class="testimonial-item bg-light rounded">
                <div class="row g-0">
                    <div class="col-4  col-lg-4 col-xl-3">
                        <div class="h-100">
                            <img src="https://th.bing.com/th/id/OIP.PqxOY4NR5XOjmFM48F9xvgAAAA?rs=1&pid=ImgDetMain" class="img-fluid h-100 rounded" style="object-fit: cover;" alt="">
                        </div>
                    </div>
                    <div class="col-8 col-lg-8 col-xl-9">
                        <div class="d-flex flex-column my-auto text-start p-4">
                            <h4 class="text-dark mb-0">FPT Polytechnic</h4>
                            <!--              <p class="mb-3">Profession</p>-->

                            <p class="mb-0">FPT Polytechnic là cái tên nổi bật nhất trong danh sách này, bởi vậy nó xứng đáng nằm ở vị trí top 2 mà Top10DaNang giới thiệu. Trường Cao đẳng FPT Polytechnic được thành lập năm 2010. tới mục tiêu cung cấp kỹ năng nghề nghiệp chất lượng cao cho người học. Đảm bảo được tính cạnh tranh trong môi trường phát triển ngày càng cao.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded">
                <div class="row g-0">
                    <div class="col-4  col-lg-4 col-xl-3">
                        <div class="h-100">
                            <img src="https://cdn.haitrieu.com/wp-content/uploads/2023/06/Logo-Truong-Cao-dang-Du-lich-Da-Nang-DVTC-1021x1024.png" class="img-fluid h-100 rounded" style="object-fit: cover;" alt="">
                        </div>
                    </div>
                    <div class="col-8 col-lg-8 col-xl-9">
                        <div class="d-flex flex-column my-auto text-start p-4">
                            <h4 class="text-dark mb-0">Cao đẳng du lịch Đà Nẵng</h4>

                            <p class="mb-0">Hiện nay du lịch đang được rất nhiều người quan tâm. Vì thế chuyên ngành này cũng được nhiều bạn trẻ theo đuổi. Cao đẳng du lịch Đà Nẵng là một trong những ngôi trường chất lượng mà bạn nên tham khảo khi có ý định theo ngành này. Đây là trường cao đẳng ở Đà Nẵng công lập được thành lập ngày 16/10/2009 của Bộ Lao động – Thương binh và Xã hội.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded">
                <div class="row g-0">
                    <div class="col-4  col-lg-4 col-xl-3">
                        <div class="h-100">
                            <img src="https://th.bing.com/th/id/OIP.uJ9jeklo5mFu2C3VzFiE8wHaHY?rs=1&pid=ImgDetMain" class="img-fluid h-100 rounded" style="object-fit: cover;" alt="">
                        </div>
                    </div>
                    <div class="col-8 col-lg-8 col-xl-9">
                        <div class="d-flex flex-column my-auto text-start p-4">
                            <h4 class="text-dark mb-0">Trường Cao đẳng Bách Khoa Đà Nẵng</h4>

                            <p class="mb-0">Cao đẳng Bách Khoa Đà Nẵng là cái tên không còn xa lạ với nhiều bạn trẻ. Nơi đây đào tạo đa dạng ngành nghề cho sinh viên lựa chọn. Trường được thành lập năm năm 2008. Với chiến lược phát triển bằng những bước đột phá trong lĩnh vực giáo dục đào tạo. Trở thành một cơ sở  có uy tín mang lại lợi ích thiết thực cho người học và cho xã hội.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
</main>
</body>
</html>