<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout}">

<main layout:fragment="content">

    <!-- Chi tiết Nhóm Ngành -->
    <div class="container py-5">
        <h1 th:text="${specialty.specialtyName}">Tên chuyên khoa</h1>
        <!--        <img th:src="${major.majorImage}" alt="Hình ảnh ngành học">-->
        <p th:text="${specialty.description}">Mô tả chuyên khoa</p>


        <!-- Danh sách ngành thuộc nhóm ngành -->
<!--        <div class="container-fluid team pb-5">-->
<!--            <div class="container pb-5">-->
<!--                <table class="table table-bordered">-->
<!--                    <thead class="thead-dark">-->
<!--                    <tr>-->
<!--                        <th scope="col">STT</th>-->
<!--                        <th scope="col">Tên chuyên khoa</th>-->
<!--                        <th scope="col">Mã chuyên khoa</th>-->
<!--&lt;!&ndash;                        <th scope="col">Khối xét tuyển</th>&ndash;&gt;-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr  th:each="detail, iterStat : ${specialty.specialDetailsList}">-->
<!--                        <th scope="row" th:text="${iterStat.index + 1}">1</th>-->
<!--                        <td th:text="${detail.specialtyName}">Tên chuyên khoa</td>-->
<!--                        <td th:text="${detail.description}">Mô tả chuyên khoa</td>-->
<!--&lt;!&ndash;                        <td th:text="${detail.admissionBlock}">Khối xét tuyển</td>&ndash;&gt;-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
    </div>

</main>
</html>